{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>All Medicines</h2>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Low Stock?</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
            <tr>
                <td>{{ medicine.name }}</td>
                <td>{{ medicine.stock_quantity }}</td>
                <td>{{ medicine.price }}</td>
                <td>
                    {% if medicine.is_low_stock %}
                        ⚠ Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}