{% extends "base.html" %}
{% block content %}

<div class="card" style="width:800px;">
    <h2>My Patients</h2>

    <a href="{% url 'add_patient' %}" class="btn btn-primary">+ Add Patient</a>

    <hr style="margin:20px 0;">

    {% if patients %}
        <form method="GET" style="margin:15px 0;">
            <input type="text" name="q"
                   placeholder="Search by name, phone, diagnosis or city"
                   value="{{ request.GET.q }}"
                   style="padding:8px; width:250px; border-radius:5px; border:1px solid #ccc;">
            
            <button type="submit"
                    style="padding:8px 15px; border-radius:5px;">
                Search
            </button>
        </form>    

        <p style="opacity:0.6;">Total Patients: {{ patients|length }}</p>

        <table class="table-modern">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for patient in patients %}
                <tr>
                    <td>
                        <a href="{% url 'patient_detail' patient.pk %}">{{ patient.full_name }}</a>
                    </td>
                    <td>{{ patient.age }}</td>
                    <td>{{ patient.phone }}</td>
                    <td>
                        {% if patient.city %}
                            {{ patient.city.name }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'edit_patient' patient.id %}" class="btn btn-edit">Edit</a>

                        <button type="button"
                                class="btn btn-delete open-delete-modal"
                                data-id="{{ patient.id }}"
                                data-name="{{ patient.full_name }}">
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No patients added yet.</p>
    {% endif %}
</div>


<!-- =========================
     Hidden Delete Form
========================= -->
<form id="delete-form" method="POST" style="display:none;">
    {% csrf_token %}
</form>


<!-- =========================
     Delete Modal
========================= -->
<div id="deleteModal" class="modal-overlay">
    <div class="modal-box">
        <h3>Delete Patient</h3>
        <p id="modal-text"></p>

        <div class="modal-actions">
            <button id="confirmDelete" class="btn btn-delete">Yes, Delete</button>
            <button id="closeModal" class="btn btn-primary">Cancel</button>
        </div>
    </div>
</div>

{% endblock %}