{% extends "base.html" %}
{% block content %}

<div class="card" style="width: 600px;">
    <span class="role-badge">Pharmacist Dashboard</span>

    <h2>Welcome, {{ user.full_name }}</h2>

    <p class="message-text">
        Manage medicines, prescriptions and inventory.
    </p>
    <div style="margin-top:20px;">
        <a href="{% url 'add_patient' %}" class="btn btn-primary">+ Add Patient</a>
        <a href="{% url 'patient_list' %}" class="btn btn-success">+ View Patients</a>       
    </div>
    <div style="margin-top:20px;">

        <div style="display:flex; justify-content:space-between; margin-bottom:15px;">
            <!-- <div style="background:rgba(255,255,255,0.1); padding:20px; border-radius:15px; width:48%;">
                <h3>Medicines</h3>
                <p style="opacity:0.7;">0 In Stock</p>
            </div> -->

            <div class="dashboard-card" style="background:rgba(255,255,255,0.08); padding:25px; border-radius:20px; width:48%;">
                <h3>Patients</h3>
                <p style="opacity:0.7;">{{ patient_count }} Registered</p>
            </div>

            <div class="dashboard-card" style="background:rgba(255,255,255,0.08); padding:25px; border-radius:20px; width:48%;">
                <h3>Orders</h3>
                <p style="opacity:0.7;">0 Processed</p>
            </div>
        </div>
    </div>

    <a href="{% url 'logout' %}">
        <button>Logout</button>
    </a>
</div>

{% endblock %}
