{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">

<div class="card">
    <span class="role-badge">
        Secure Login
    </span>

    <h2>Welcome Back</h2>

    {% if form.errors %}
        <div style="color:#ffb3b3; font-size:14px; margin-bottom:10px;">
            Invalid email or password
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <input type="email"
               name="username"
               placeholder="Enter your registered email"
               required>

        <input type="password"
               name="password"
               placeholder="Enter your password"
               required>

        <button type="submit">Login</button>
    </form>

    <div class="links">
        Doctor? <a href="{% url 'doctor_register' %}">Register</a><br>
        Pharmacist? <a href="{% url 'pharmacist_register' %}">Register</a>
    </div>
</div>

{% endblock %}
